CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*/cmake-build-*
*/data-cifar-10
*/.DS_Store
*/data
.DS_Store
*/data
